@model EYC.UI.Web.Models.Home.RetailerChargesResultViewModel

@if (null == Model)
{
	return;
}

<fieldset>
	<legend>Retailer charges for supplier "@Model.SupplierName"</legend>
	@if (!Model.Charges.Any())
	{
		<text>
			<div class="alert alert-warning">No products found for supplier "<strong>@Model.SupplierName</strong>".</div>
		</text>
	}
	else
	{
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Item</th>
					<th class="text-right">Total ( units * unit price )</th>
					<th class="text-right">Retailer charge</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var row in Model.Charges)
				{
					<tr>
						<td>@row.ProductName</td>
						<td class="text-right">@Html.DisplayFor(x => row.Total)</td>
						<td class="text-right">@Html.DisplayFor(x => row.Charge)</td>
					</tr>
				}
			</tbody>
		</table>
	}
</fieldset>
